src/rospit2/rospit2/xml/rospit.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://www.aist.go.jp/rospit"
  xmlns:rospit="https://www.aist.go.jp/rospit"
  elementFormDefault="qualified">
  <xs:element name="TestSuite" type="rospit:TestSuiteType" />
  <xs:complexType name="TestSuiteType">
    <xs:sequence>
      <xs:element name="OneTimeSetUp" type="rospit:SetUpType" minOccurs="0" />
      <xs:element name="SetUp" type="rospit:SetUpType" minOccurs="0" />
      <xs:element name="TestCase" type="rospit:TestCaseType" minOccurs="1" maxOccurs="unbounded" />
      <xs:element name="TearDown" type="rospit:TearDownType" minOccurs="0" />
      <xs:element name="OneTimeTearDown" type="rospit:TearDownType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="TestCaseType">
    <xs:sequence>
      <xs:element name="SetUp" type="rospit:SetUpType" minOccurs="0" />
      <xs:element name="Preconditions" type="rospit:PreconditionsType" minOccurs="0" />
      <xs:element name="Invariants" type="rospit:InvariantsType" minOccurs="0" />
      <xs:element name="Run" type="rospit:RunType" />
      <xs:element name="Postconditions" type="rospit:PostconditionsType" minOccurs="0" />
      <xs:element name="TearDown" type="rospit:TearDownType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ConditionEvaluatorPairType">
    <xs:sequence>
      <xs:element name="Condition" type="rospit:ConditionType" />
      <xs:element name="Evaluator" type="rospit:EvaluatorType" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="PreconditionsType">
    <xs:sequence>
      <xs:element name="Precondition" type="rospit:ConditionEvaluatorPairType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InvariantsType">
    <xs:sequence>
      <xs:element name="Invariant" type="rospit:ConditionEvaluatorPairType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConditionType" mixed="true">
  </xs:complexType>
  <xs:complexType name="EvaluatorType">
  </xs:complexType>
  <xs:complexType name="Binary">
    <xs:complexContent>
      <xs:extension base="rospit:ConditionType">
        <xs:attribute name="value" type="xs:boolean" />
        <xs:attribute name="parameter" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GreaterThan">
    <xs:complexContent>
      <xs:extension base="rospit:ConditionType">
        <xs:attribute name="value" type="xs:float" />
        <xs:attribute name="parameter" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GreaterThanOrEqualTo">
    <xs:complexContent>
      <xs:extension base="rospit:ConditionType">
        <xs:attribute name="value" type="xs:float" />
        <xs:attribute name="parameter" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EqualTo">
    <xs:complexContent>
      <xs:extension base="rospit:ConditionType">
        <xs:attribute name="value" type="xs:float" />
        <xs:attribute name="parameter" type="xs:string" />
        <xs:attribute name="epsilon" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NotEqualTo">
    <xs:complexContent>
      <xs:extension base="rospit:ConditionType">
        <xs:attribute name="value" type="xs:float" />
        <xs:attribute name="parameter" type="xs:string" />
        <xs:attribute name="epsilon" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LessThanOrEqualTo">
    <xs:complexContent>
      <xs:extension base="rospit:ConditionType">
        <xs:attribute name="value" type="xs:float" />
        <xs:attribute name="parameter" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LessThan">
    <xs:complexContent>
      <xs:extension base="rospit:ConditionType">
        <xs:attribute name="value" type="xs:float" />
        <xs:attribute name="parameter" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UpperLimit">
    <xs:complexContent>
      <xs:extension base="rospit:ConditionType">
        <xs:attribute name="value" type="xs:float" />
        <xs:attribute name="parameter" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LowerLimit">
    <xs:complexContent>
      <xs:extension base="rospit:ConditionType">
        <xs:attribute name="value" type="xs:float" />
        <xs:attribute name="parameter" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BothLimits">
    <xs:complexContent>
      <xs:extension base="rospit:ConditionType">
        <xs:attribute name="lower_limit_value" type="xs:float" />
        <xs:attribute name="lower_limit_parameter" type="xs:string" />
        <xs:attribute name="lower_limit_inclusive" type="xs:boolean" />
        <xs:attribute name="upper_limit_value" type="xs:float" />
        <xs:attribute name="upper_limit_parameter" type="xs:string" />
        <xs:attribute name="upper_limit_inclusive" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StringEquals">
    <xs:complexContent>
      <xs:extension base="rospit:ConditionType">
        <xs:attribute name="value" type="xs:string" />
        <xs:attribute name="parameter" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MessageReceivedOnTopicEvaluator">
    <xs:complexContent>
      <xs:extension base="rospit:EvaluatorType">
        <xs:attribute name="topic" type="xs:string" />
        <xs:attribute name="type" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:attribute name="occurrence">
  </xs:attribute>
  <xs:complexType name="MessageEvaluator">
    <xs:complexContent>
      <xs:extension base="rospit:EvaluatorType">
        <xs:attribute name="topic" type="xs:string" use="required" />
        <xs:attribute name="field" type="xs:string" use="required" />
        <xs:attribute name="type" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MessagesEvaluator">
    <xs:complexContent>
      <xs:extension base="rospit:EvaluatorType">
        <xs:attribute name="topic" type="xs:string" use="required" />
        <xs:attribute name="occurrence" default="last">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="once-and-only"/>
              <xs:enumeration value="once"/>
              <xs:enumeration value="only-once" />
              <xs:enumeration value="first"/>
              <xs:enumeration value="last"/>
              <xs:enumeration value="always"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="field" type="xs:string" use="required" />
        <xs:attribute name="type" type="xs:string" use="required" />
        <xs:attribute name="negate" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TopicValue">
    <xs:complexContent>
      <xs:extension base="rospit:ValueType">
        <xs:attribute name="topic" type="xs:string" use="required" />
        <xs:attribute name="field" type="xs:string" use="required" />
        <xs:attribute name="type" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StaticValue">
    <xs:complexContent>
      <xs:extension base="rospit:ValueType">
        <xs:attribute name="value" type="xs:string" use="required" />
        <xs:attribute name="type" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NumericMessageEvaluator">
    <xs:complexContent>
      <xs:extension base="rospit:MessageEvaluator" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NumericMessagesEvaluator">
    <xs:complexContent>
      <xs:extension base="rospit:MessagesEvaluator" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SetUpType">
    <xs:sequence>
      <xs:element name="Step" type="rospit:ExecutableItemType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RunType">
    <xs:sequence>
      <xs:element name="Step" type="rospit:ExecutableItemType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostconditionsType">
    <xs:sequence>
      <xs:element name="Postcondition" type="rospit:ConditionEvaluatorPairType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TearDownType">
    <xs:sequence>
      <xs:element name="Step" type="rospit:ExecutableItemType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExecutableItemType">
  </xs:complexType>
  <xs:complexType name="GetParameter">
    <xs:complexContent>
      <xs:extension base="rospit:ExecutableItemType">
        <xs:attribute name="node_name" type="xs:string" use="required" />
        <xs:attribute name="parameter_name" type="xs:string" use="required" />
        <xs:attribute name="store_as" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SetParameter">
    <xs:complexContent>
      <xs:extension base="rospit:ExecutableItemType">
        <xs:attribute name="node_name" type="xs:string" use="required" />
        <xs:attribute name="parameter_name" type="xs:string" use="required" />
        <xs:attribute name="parameter_value" type="xs:string" use="required" />
        <xs:attribute name="store_as" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LoadParametersFromCSVFile">
    <xs:complexContent>
      <xs:extension base="rospit:ExecutableItemType">
        <xs:attribute name="path" type="xs:string" use="required" />
        <xs:attribute name="separator" type="xs:string" default="\t" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LoadParametersFromXMLFile">
    <xs:complexContent>
      <xs:extension base="rospit:ExecutableItemType">
        <xs:attribute name="path" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ServiceCall">
    <xs:complexContent>
      <xs:extension base="rospit:ExecutableItemType">
        <xs:choice minOccurs="0">
          <xs:element name="Message" type="rospit:Message" />
          <xs:element name="MessageYaml" type="rospit:MessageYaml" />
        </xs:choice>
        <xs:attribute name="service" type="xs:string" />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Publish">
    <xs:complexContent>
      <xs:extension base="rospit:ExecutableItemType">
        <xs:choice minOccurs="0">
          <xs:element name="Message" type="rospit:Message" />
          <xs:element name="MessageYaml" type="rospit:MessageYaml" />
        </xs:choice>
        <xs:attribute name="topic" type="xs:string" use="required" />
        <xs:attribute name="type" type="xs:string" use="required" />
        <xs:attribute name="duration" type="xs:float" />
        <xs:attribute name="rate" type="xs:int" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Sleep">
    <xs:complexContent>
      <xs:extension base="rospit:ExecutableItemType">
        <xs:attribute name="duration" type="xs:string" use="required" />
        <xs:attribute name="unit" default="s" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Launch">
    <xs:complexContent>
      <xs:extension base="rospit:ExecutableItemType">
        <xs:attribute name="package_name" type="xs:string" />
        <xs:attribute name="launch_file_name" type="xs:string" />
        <xs:attribute name="launch_arguments" type="xs:string" />
        <xs:attribute name="debug" type="xs:boolean" />
        <xs:attribute name="show_all_subprocess_outputs" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Run">
    <xs:complexContent>
      <xs:extension base="rospit:ExecutableItemType">
        <xs:attribute name="package_name" type="xs:string" use="required" />
        <xs:attribute name="executable_name" type="xs:string" use="required" />
        <xs:attribute name="arguments" type="xs:string" />
        <xs:attribute name="blocking" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element name="Parameter" type="rospit:ParameterType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageYaml">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="use_substitution" type="xs:boolean" default="false" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ParameterType">
    <xs:sequence>
      <xs:element name="Value" type="rospit:ValueType" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ValueType">
  </xs:complexType>
  <xs:complexType name="ExecutionReturned">
    <xs:complexContent>
      <xs:extension base="rospit:EvaluatorType" />
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
